################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NHF_2.0
/x64/Debug
/*.docx
